@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');
body{
 background-color: #F3DDDD;
    margin: 0;
    padding: 20px;
    text-align: center;
}
 h1{
    color: #8B5E6C;
    font-size: 48px;
}
h1, .ending{
    font-family: 'Amiri', serif;
}
 p{
    color: #5F4B50;
    font-size: 24px;
    line-height: 1.8;
    text-align: justify;
    max-width: 800px;
    margin: 20px auto;
}
.container{
    margin-top: 120px;
}
.container p:first-of-type{
    font-size: 28px;
}
.container p{
    text-align: center;
    font-size: 24px;
}
 .letter{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #E8CFCF;
    box-shadow: 0 15px 45px rgba(0,0,0,0.3);
    max-width: 850px;
    margin: 30px auto;
}
img{
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    margin: 20px auto;
}
 .memory{
    background-color: #FFF7F0;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.25);
    max-width: 500px;
    margin: 30px auto;

    opacity: 0;
    transform: translateY(50px);
    transition: 1s;
}

.memory.show{
    opacity: 1;
    transform: translateY(0);
}

.memory p{
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
}
 .memory img{
    width: 100%;
    max-width: 350px;
}
.memory img{
    transition: 0.4s;
}
.memory img:hover{
    transform: scale(1.03);
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
}
 .video-card{
    background-color: #FFF7F0;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.25);
    max-width: 500px;
    margin: 30px auto;
}

.video-card video{
    width: 100%;
    border-radius: 15px;
}

.video-card p{
    text-align: center;
    font-size: 28px;
    margin-top: 15px;
}
 .ending{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.8;
    margin-top: 50px;
    color: #5F4B50;
    font-family: 'Playfair Display', serif;
}
 .ending{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.8;
    margin-top: 50px;
    color: #5F4B50;
    font-family: 'Aref Ruqaa', serif;
}
 .btn{
    display: block;
    width: fit-content;
    background-color: #C98F8F;
    color: white;
    text-decoration: none;
    padding: 14px 35px;
    border-radius: 30px;
    font-size: 20px;
    margin: 40px auto;
    transition: 0.3s;
}
 .btn:hover{
    background-color: #B77A7A;
    transform: translateY(-3px);
}